.songer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    top: 60px;
}

.inter {
    position: absolute;
    top: 50px;
    left: 20%;
    width: 70%;
}

.inter li {
    float: left;
    width: 10%;
    height: 20px;
    text-align: center;
    border-right: 1px solid #ccc;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.head2 {
    background-color: #fff;
}

.cat {
    position: absolute;
    top: 80px;
    left: 20%;
    width: 70%;
}

.songer {
    top: 100px;
}

.cat li {
    float: left;
    width: 10%;
    height: 20px;
    text-align: center;
    font-size: 5%;
    border-right: 1px solid #ccc;
    margin-left: 5px;
    margin-right: 5px;
}

.cat .head2 {
    border-right: none;
    width: 30px;
    margin: 0;
}

.inter .head2 {
    border-right: none;
    width: 30px;
    margin: 0;
}

.cat #band {
    margin-left: 0px;
    width: 55px;
}

#all1 {
    color: rgb(236, 65, 65);
}

#all2 {
    color: rgb(236, 65, 65);
}