.tag,
.asong,
.saudio {
    width: 60px;
}

.collector {
    width: 100px;
    left: 25%;
}

.recommend {
    width: 100px;
    left: 35%;
}

.listname {
    position: absolute;
    top: 90px;
    left: 470px;
    font-size: 27px;
}